.event_overview {
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.event_overview_dl {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    margin: 0;
}
.event_overview_dl > div {
    display: inline-flex;
    gap: .4em;
    margin: 0;
}
.event_overview_dl dt {
    font-weight: 600;
}

.event_overview_dl dd {
    margin: 0;
}
.event_overview_dl > div:not(:last-child)::after {
    content: "ã€";
}
.event_overview_dl dt::after {
    content: ":";
}
.event_overview_dl address {
    font-style: normal;
}