.event_overview {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.event_overview_dl {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .event_overview_dl {
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }
}
.event_overview_dl > div {
    display: inline-flex;
    gap: .4em;
    margin: 0;
}
.event_overview_dl dt {
    font-weight: 600;
}

.event_overview_dl dd {
    margin: 0;
}
.event_overview_dl dt::after {
    content: ":";
}
.event_overview_dl address {
    font-style: normal;
}