.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 70px 0 0 0;
    background-color: var(--basic-color);
    padding: 50px 20px;
    gap: 20px;
}
.footer_logo {
    width: 50px;
    height: auto;
    display: block;
}

.footer_contents {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;
}
.footer_links_link {
    font-size: 14px;
    text-decoration:none;
}