.text_description {
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}
@media (max-width: 768px) {
    .text_description {
        flex-direction: column;
        margin: 10px 15px;
    }
}

.text_description_text {
    font-size: 16px;
}

.text_description_image {
    border-radius: 10px;
}