
.marker {
    background: linear-gradient(transparent 60%, rgba(128,255,0,0.6) 50%);
}
  
.workshop_content {
    background-color: #f8f6ee;
    margin: 30px 50px 30px 50px;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: 300ms ease-in-out;
}
.workshop_content:hover {
    transform: translateY(-4px);
}
@media (max-width: 768px) {
    .workshop_content {
        margin: 30px;
    }
}

.workshop_content_title {
    background-color: var(--basic-color);
    margin: 0;
    padding: 20px 30px;
    border-radius: 15px 15px 0 0;
    font-size: 24px;
}

.workshop_content_description_container {
    padding: 20px;
}
@media (max-width: 768px) {
    .workshop_content_description_container {
        padding: 10px;
    }
}

.workshop_content_description1_item {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.workshop_content_description2_item {
    margin: 0px 5px 20px 5px;
}

.workshop_image_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    justify-content: center;
}
.workshop_image_container_large {
    height: 200px;
}
.workshop_image_container_small {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    height: 200px;
}
.workshop_content_image_large {
    width: 202px;
    height: 202px;
}
.workshop_content_image_small {
    width: 100px;
    height: 100px;
}
@media (max-width: 768px) {
    .workshop_image_container_large {
        height: 160px;
    }
    .workshop_image_container_small {
        height: 160px;
    }
    .workshop_content_image_large {
        width: 162px;
        height: 162px;
    }
    .workshop_content_image_small {
        width: 80px;
        height: 80px;
    }
}

/* テーブルコンテナ */
.workshop_content_table_container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 768px) {
    .workshop_content_table_container {
        flex-direction: column;
    }
}

/* テーブル */
.workshop_content_table {
    border-collapse: collapse;
}
.workshop_content_table th, 
.workshop_content_table td {
    padding: 0.6rem 0.8rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.workshop_content_table thead th {
    font-weight: 600;
    color: #333;
}
.workshop_content_table tbody th {
    text-align: left;
    font-weight: 500;
    color: #666;
}

/* テーブル詳細コンテナ */
.workshop_content_table_detail_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

/* 注意事項コンテナ */
.workshop_content_notes_container {
    padding: 10px 20px;
    font-size: 14px;
}
.workshop_content_notes_container ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
}

.submit_button_container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
