:root {
  --background: #f1eddc;
  --foreground: #333;
  --basic-color: #F3D569;
  --button-color: #ff4757;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-geist-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub_title {
  background-color: #ddd;
  border-left: 10px solid #cc6;
  margin-top: 40px;
  padding: 8px 10px;
}

.h3_title {
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 10px;
}
